
.wy-nav-content-wrap {
    left: 0 !important;
    max-width: none !important;
}


.wy-nav-content {
    max-width: none !important;
    padding: 1.618em 3em !important;
}


.wy-nav-content {
    margin: 0 !important;
}


.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.rst-content table.docutils td,
.rst-content table.docutils th {
    white-space: normal;
}


.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre {
    white-space: pre;
    overflow-x: auto;
}
